<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools"
          package="com.mycompany.app"
          android:installLocation="auto">

	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application android:label="Corona App"
    	android:name="CoronaApplication"
        tools:replace="android:name">
        <receiver android:name="com.tenjin.android.TenjinReferrerReceiver" android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER"/>
            </intent-filter>
        </receiver>
	</application>
</manifest>
